@model Asp.net_MVC_TP_9.Models.Eleve

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Eleve</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Eleve }) |
    @Html.ActionLink("Back to List", "Index")
</p>
